#project-files-header {
  position: relative;
}
#project-files-header .bft-toggle-type {
  opacity: 0.5;
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -8px;
  width: 14px;
  height: 14px;
  display: block;
  border: solid 1px #fff;
  cursor: pointer;
  border-radius: 50%;
  background-color: #fff;
}
#project-files-header .bft-toggle-type:hover {
  opacity: 1;
}
#project-files-header .bft-toggle-type.bft-square {
  border-radius: 2px;
}
#project-files-container a {
  position: relative;
  cursor: pointer;
  z-index: 2;
}
#project-files-container .jstree-leaf,
#project-files-container .jstree-open,
#project-files-container .jstree-closed {
  min-height: 22px;
  margin-left: 18px;
}
#project-files-container .jstree-leaf:before,
#project-files-container .jstree-leaf:after,
#project-files-container .jstree-open:before,
#project-files-container .jstree-closed:before,
#project-files-container .jstree-open > a:after,
#project-files-container .jstree-closed > a:after,
#project-files-container .jstree-open > ul:before {
  content: '';
  display: block;
  position: absolute;
}
#project-files-container .jstree-leaf:before,
#project-files-container .jstree-open:before,
#project-files-container .jstree-closed:before {
  border-top: solid 11px #fff;
  border-bottom: solid 11px #fff;
  width: 1px;
  left: -13px;
  top: 0;
}
#project-files-container ul li:last-child.jstree-leaf:before {
  border-bottom: none;
}
#project-files-container .jstree-leaf:after,
#project-files-container .jstree-open > a:after,
#project-files-container .jstree-closed > a:after {
  height: 1px;
  width: 12px;
  background-color: #fff;
  left: -13px;
  top: 50%;
}
#project-files-container .jstree-open > a:after,
#project-files-container .jstree-closed > a:after {
  left: auto;
  margin-left: -12px;
  width: 6px;
}
#project-files-container .jstree-open:before,
#project-files-container .jstree-closed:before {
  height: 10px;
  border-bottom-width: 6px;
  border-top-width: 6px;
}
#project-files-container ul li:last-child.jstree-open:before,
#project-files-container ul li:last-child.jstree-closed:before {
  border-bottom: none;
}
#project-files-container .jstree-open > ul:before {
  top: 21px;
  bottom: 0;
  width: 1px;
  background-color: #fff;
  left: -13px;
}
#project-files-container ul li:last-child.jstree-open > ul:before {
  display: none;
}
#project-files-container .jstree-open:after,
#project-files-container .jstree-closed:after {
  content: '-';
  display: block;
  position: absolute;
  top: 6px;
  width: 9px;
  height: 9px;
  border: solid 1px #fff;
  color: #fff;
  border-radius: 2px;
  line-height: 8px;
  text-align: center;
  font-weight: bold;
  font-size: 10px;
  left: -18px;
}
#project-files-container .jstree-closed:after {
  content: '+';
  line-height: 9px;
}
#project-files-container .jstree-icon {
  background-image: none;
}
#project-files-container.bft-circle .jstree-open:after,
#project-files-container.bft-circle .jstree-closed:after {
  border-radius: 50%;
}
